<form name="searchForm" ng-submit="search()" class="text-center">
  <div class="input-group col-xs-12 col-md-4 col-md-offset-4">
    <input class="form-control" ng-model="searchInput">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-success">Search</button>
    </span>
  </div>
</form>
<br>

<div class="panel panel-default" ng-if="searchComplete">
  <div class="panel-heading">
    <div class="row">
      <h2 class="col-md-8 col-xs-12"><img ng-src="http://openweathermap.org/img/w/{{cityWeatherData.weather[0].icon}}.png"> {{cityWeatherData.name}}, {{cityWeatherData.sys.country}}</h2>
      <span class="col-md-4 col-xs-12">
        <h3>{{cityWeatherData.weather[0].description | lowercase}}</h3>
        <div class="btn-group pull-right">
          <button class="btn btn-default" ng-disabled="cityWeatherData.celsius" ng-click="switchCF()">&#176;C</button>
          <button class="btn btn-default" ng-disabled="!cityWeatherData.celsius" ng-click="switchCF()">&#176;F</button>
        </div>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h4 class="col-md-6 col-xs-12">Current Temp: {{cityWeatherData.main.temp}}&#176;<span ng-if="cityWeatherData.celsius">C</span><span ng-if="!cityWeatherData.celsius">F</span></h4>
      <h4 class="col-md-6 col-xs-12">Humidity: {{cityWeatherData.main.humidity}}%</h4>
    </div>

    <div class="row">
      <h4 class="col-md-6 col-xs-12">Clouds: {{cityWeatherData.clouds.all}}%</h4>
      <h4 class="col-md-6 col-xs-12">Wind Speed: {{cityWeatherData.wind.speed}} m/s</h4>
    </div>

    <div class="row">
      <h4 class="col-md-6 col-xs-12">Coord: <a href="https://www.google.com/maps/preview/@{{cityWeatherData.coord.lat}},{{cityWeatherData.coord.lon}},12z" target="_blank">{{cityWeatherData.coord.lat}}, {{cityWeatherData.coord.lon}}</a></h4>
      <h4 class="col-md-6 col-xs-12">Wind Direction: {{cityWeatherData.wind.deg}}&#176;</h4>
    </div>
  </div>
</div>
