<form name="searchForm" ng-submit="search()" class="text-center">
  <div class="input-group col-xs-12 col-sm-4 col-sm-offset-4">
    <input class="form-control" ng-model="searchInput" placeholder="City Name">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-info">Weather Search</button>
    </span>
  </div>
</form>
<br>

<div class="panel panel-default" ng-if="searchComplete">
  <div class="panel-heading">
    <div class="row">
      <h2 class="col-sm-8 col-xs-12">
        <img ng-src="http://openweathermap.org/img/w/{{cityWeatherData.weather[0].icon}}.png"> {{cityWeatherData.name}}, {{cityWeatherData.sys.country}}
      </h2>
      <span class="col-sm-4 col-xs-12">
        <h3>{{cityWeatherData.weather[0].description | lowercase}}</h3>
        <div class="btn-group pull-right">
          <button class="btn btn-default" ng-disabled="cityWeatherData.celsius" ng-click="switchCF()">&#176;C</button>
          <button class="btn btn-default" ng-disabled="!cityWeatherData.celsius" ng-click="switchCF()">&#176;F</button>
        </div>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <h4 class="row">
        <span class="col-xs-6 text-right">Current Temp:</span>
        <span class="col-xs-6">{{cityWeatherData.main.temp}}&#176;
          <span ng-if="cityWeatherData.celsius">C</span>
          <span ng-if="!cityWeatherData.celsius">F</span>
        </span>
      </h4>
      <h4 class="row">
        <span class="col-xs-6 text-right">High Temp:</span>
        <span class="col-xs-6">{{cityWeatherData.main.temp_max}}&#176;
          <span ng-if="cityWeatherData.celsius">C</span>
          <span ng-if="!cityWeatherData.celsius">F</span>
        </span>
      </h4>
      <h4 class="row">
        <span class="col-xs-6 text-right">Low Temp:</span>
        <span class="col-xs-6">{{cityWeatherData.main.temp_min}}&#176;
          <span ng-if="cityWeatherData.celsius">C</span>
          <span ng-if="!cityWeatherData.celsius">F</span>
        </span>
      </h4>
      <h4 class="row">
        <span class="col-xs-6 text-right">Coord:</span>
        <span class="col-xs-6">
          <a href="https://www.google.com/maps/preview/@{{cityWeatherData.coord.lat}},{{cityWeatherData.coord.lon}},12z" target="_blank">{{cityWeatherData.coord.lat}}, {{cityWeatherData.coord.lon}}</a>
        </span>
      </h4>
    </div>

    <div class="col-sm-6">
      <h4 class="row">
        <span class="col-xs-6 text-right">Humidity:</span>
        <span class="col-xs-6">{{cityWeatherData.main.humidity}}%</span>
      </h4>
      <h4 class="row">
        <span class="col-xs-6 text-right">Clouds:</span>
        <span class="col-xs-6">{{cityWeatherData.clouds.all}}%</span>
      </h4>
      <h4 class="row">
        <span class="col-xs-6 text-right">Wind Direction:</span>
        <span class="col-xs-6">
          <span class="glyphicon glyphicon-arrow-up" style="transform: rotate({{cityWeatherData.wind.deg}}deg);"></span> {{cityWeatherData.wind.deg}}&#176;
        </span>
      </h4>
      <h4 class="row">
        <span class="col-xs-6 text-right">Wind Speed:</span>
        <span class="col-xs-6">{{cityWeatherData.wind.speed}} m/s</span>
      </h4>
    </div>
    <div>
      <h5 class="text-center">
        Weather data as of {{timeStamp | date: 'yyyy-MM-dd @ h:mma'}}
      </h5>
    </div>
  </div>
</div>
