<div ng-repeat="city in cities5Day">
  <div class="jumbotron">

    <span class="row">
      <h2>{{city.city.name}}, {{city.city.country}}</h2>
    </span>

    <div class="well" ng-repeat="day in city.list track by $index">
      <span class="row">
        <h2 class="col-lg-6"><img ng-src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png">{{(day.dt + 86400000 * ($index + 1)) | date: 'EEEE'}}</h2>
        <h3 class="col-lg-6">{{day.weather[0].description | lowercase}}</h3>
      </span>
      <span class="row">
        <p class="col-lg-6">Average Temp:  {{day.temp.day}} &#176;C</p>
        <p class="col-lg-6">Clouds:  {{day.clouds}}%</p>
      </span>

      <span class="row">
        <p class="col-lg-6">High Temp:  {{day.temp.max}} &#176;C</p>
        <p class="col-lg-6">Wind Speed:  {{day.speed}} m/s</p>
      </span>

      <span class="row">
        <p class="col-lg-6">Low Temp:  {{day.temp.min}} &#176;C</p>
        <p class="col-lg-6">Wind Direction:  {{day.deg}}&#176;</p>
      </span>

      <span class="row">
        <p class="col-lg-6" ng-show="{{day.rain}}">Rainfall:  {{day.rain}}mm</p>
        <p class="col-lg-6" ng-show="{{day.snow}}">Snowfall:  {{day.snow}}mm</p>
      </span>

    </div>
  </div>
</div>
